plugin: amazon.aws.aws_ec2
regions:
  - us-east-1
filters:
  tag:Project: SoundWave
keyed_groups:
  - key: tags.Role
    prefix: role
  - key: tags.Environment
    prefix: env
compose:
  ansible_host: private_ip_address # Usamos IP privado pois rodamos Ansible via Bastion ou VPN